body {
    margin: 0;
}


/************************/
/* LAYOUT VAN DE HEADER */
/************************/

header {
    background-color: #c20030;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: -3.5em;
    z-index: 10;

}


/*************/
/* navigatie 1*/
/*************/

header nav {
    font-family: 'Roboto', sans-serif;
    flex-grow: 1;
}

header nav ul {
    margin: 0;
    padding-left: 10em;
    padding-right: 10em;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

header nav li {
    min-width: 6em;
    flex-grow: 1;
}

header nav a {
    color: white;
    background-color: #c20030;
    text-decoration: none;
    outline: none;
    display: block;
    line-height: 3.5em;
    text-align: center;
}


/*************/
/* navigatie 2 */
/*************/


main nav ul {
    margin: 0;
    padding-left: 10em;
    padding-right: 10em;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main nav li {
    min-width: 6em;
}

main nav a {
    font-family: 'Roboto', sans-serif;
    color: black;
    text-decoration: none;
    outline: none;
    display: block;
    line-height: 3.5em;
    text-align: center;
}

li a img {
    width: 300px;
    float: left
}

/*************/
/* Slider */
/*************/

#slider img{
    position: relative;
    height: 500px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
}
@media only screen and (max-width: 1100px) {

        
}


@media only screen and (max-width: 600px) {
    #slider img{
      width: 800px;
      
    }   
}

/*************/
/* Merch */
/*************/
#shop1 ul {
  list-style: none;
  display:flex;
  justify-content: center;
}











