body {
    margin: 0;
}


/************************/
/* LAYOUT VAN DE HEADER */
/************************/

header {
    background-color: #c20030;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: -3.5em;
    z-index: 10;

}


/*************/
/* navigatie 1*/
/*************/

header nav {
    font-family: 'Roboto', sans-serif;
    flex-grow: 1;
}

header nav ul {
    margin: 0;
    padding-left: 10em;
    padding-right: 10em;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

header nav li {
    min-width: 6em;
    flex-grow: 1;
}

header nav a {
    color: white;
    background-color: #c20030;
    text-decoration: none;
    outline: none;
    display: block;
    line-height: 3.5em;
    text-align: center;
}
header nav a:hover {
    color: gray;
}

/*************/
/* navigatie 2 */
/*************/


main nav ul {
    margin: 0;
    padding-left: 10em;
    padding-right: 10em;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main nav li {
    min-width: 6em;
}

main nav a {
    font-family: 'Roboto', sans-serif;
    color: black;
    text-decoration: none;
    outline: none;
    display: block;
    line-height: 3.5em;
    text-align: center;
}



@media only screen and (min-width: 900px) {
    #mobilenav {
        display: none;
    }

    .banneronder {
        display: none;
    }

    #menuknop {
        display: none;
    }
    header img {
    margin-top: 10px;
    width: 250px;
    margin-left: 10em;
}
    .sponsorsmobiel img{
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    header a:nth-of-type(2) {
        display: none;
    }
    .sponsorsmobiel img{
        display: none;
    }
}


@media only screen and (max-width: 600px) {
    .logo{
        width: 15em;
    }
    .menuknop {
        margin-left: 8em;
        width: 3em
    }

    .menuitems {
        display: none;
    }

    #shop1mobile img {
        width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    footer img {
        width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .container p {
    display: none;
}


    #webnav {
        display: none;
    }
    .banneronder img {
        width: 90vw
    }
    .sponsorsweb img{
        display: none;
    }
    .sponsorsweb article{
        display: none;
    }
}
/*shop banner*/

.container {
    position: relative;
}
.container img{
     width: 100vw
}

.container p {
    position: absolute;
    top: 50%;
    left: 20%;
    color: white;
    font-size: 30px;
    font-family: "roboto", sans-serif;
    background-color: black; 
    padding: 20px 50px
}
/*galerij*/
.galerij {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}
.galerij article img{
    width: 50vw;
}
.galerij h3{
    font-family: "roboto", sans-serif;
    color: black;
}

/* Kleding onder elkaar bij kleiner scherm */
@media only screen and (max-width: 600px) {
    .galerij {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1em;
    }
}

.galerij article img {
    width: 25vw;
}

@media only screen and (max-width: 600px) {
    .galerij article img {
        width: 60vw;
    }
}

.galerij a {
    color: red;
    text-decoration: none;
    font-family: "roboto", sans-serif;
}


.galerij h3:hover {
    color: grey;
}

.galerij p:hover {
    color: grey;
}

/*footer*/
footer {
    background-color: black;
    color: white;
}

footer img {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer h3 {
    font-size: 16px;
    text-align: center;
}

footer p {
    font-size: 16px;
    text-align: center;
}

.button2 {
    text-decoration: none;
    color: white;
    background-color: dimgray;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.sponsorsmobiel img {
    width: 20vw
}

.sponsorsmobiel {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.copyright {
    background-color: white;
    color: darkgray;
    text-align: center;
}

.copyright a {
    text-decoration: none;
}

footer ul {
    list-style-type: none;
}

footer a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
}

footer a:hover {
    color: grey;
}
footer h2 {
    font-size: 16px;
}
.sponsorsweb{
    background-color: #c20030;
}
.sponsorsweb {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.sponsorsweb img{
    width: 8vw;
}

footer p:first-of-type{
    font-family: 'Roboto', sans-serif;
}
footer h2:first-of-type{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
footer h3:first-of-type{
    font-family: 'Roboto', sans-serif;
    text-align: left;
}
